{
    box-sizing: border-box;

}
body{
    background-color: bisque;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    background-color: rgb(241, 100, 100);
    min-height: 100px;
    width: 520px;
    margin: 100px auto;
    border-radius: 5px;
    height: auto;

}
.base{
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: block;
    float: none;
}

.base h4{
    font-size: 26px;
    text-align: center;
    font-family: sans-serif;
    margin-top: 0px;
    box-shadow: 0px 2px #bababa;
    font-weight: normal;
    color: navy;
    background: white;
    padding: 5px;

}
.block{
    width: 135px;
    padding: 5px 20px;
    margin-left: 20px;
    display: inline-block;
    float: left;
}

.title{
    font-size: 20px;
    text-align: left;
    font-family: normal; 
    letter-spacing: 0.5px;
    color:yellow;
    word-spacing: 2.7px;
}

input[type=text]{
    width: 140px;
    margin: auto;
    outline: none;
    min-height: 50px;
    border: 2px solid #1073d0;
    border-radius: 2px;
    color: #1073d0;
    font-size: 17px;
    padding: 12px;
}

input[type=text]:focus{
    background: #bababa;
    border: 2px solid yellow;
    
}

input[type=button]{
    width:150px;
    margin-left: 35%;
    margin-top: 40px;
    outline; none;
    border: none;
    border-radius: 2px;
    background-color: rgb(45, 59, 5);
    padding: 14px 16px;
    color:antiquewhite;
    font-size: 17px;

}

input[type=button]:hover{
    background-color: brown;


}


